In [97]:
import time
import datetime
import pandas as pd
from dateutil import parser

In [98]:
weatherRaw = pd.read_csv("C:/Users/35383/Documents/GTFSAPItest/GTFSR/GTFSdata/historicalWeatherDataDublin2018.csv", delimiter=",")

In [99]:
#funtion to remove UTC formatting from dt_iso column

formatted_datetimes = {
    
}
def change_datetime_format(df):
    
    for datetime in df.dt_iso:
        try:      
            formatted_datetimes.update({datetime: datetime.split("+",1)[0]})
        except:
            #if not in same format or missing etc
            print('datetime ' + datetime + " has a different format")

In [100]:
change_datetime_format(weatherRaw)

In [101]:
#map (replace) unformatted datetimes to formatted datetimes
weatherRaw.dt_iso = pd.to_datetime(weatherRaw.dt_iso.map(formatted_datetimes))

In [102]:
#drop nan features if threshold exceeded (set to 80%)
def drop_nan_column(df):
    df.dropna(axis = 1, thresh = (len(df)//100) * 80 , inplace = True)
    
drop_nan_column(weatherRaw)

In [103]:
#drop features with constant values
def drop_constant_column(df):
    for column in df.columns:
        if len(df[column].unique()) == 1:
            df.drop(column,axis=1, inplace = True)

In [104]:
drop_constant_column(weatherRaw)

In [105]:
weatherRaw.nunique()

dt                     8808
dt_iso                 8808
timezone                  2
temp                   2181
feels_like             2713
temp_min               1858
temp_max               1592
pressure                 63
humidity                 64
wind_speed              105
wind_deg                 57
clouds_all               20
weather_id               23
weather_main              8
weather_description      24
weather_icon             16
dtype: int64

In [106]:
#drop columns that wont be used in model
weatherRaw.drop(["feels_like","temp_min","temp_max","wind_deg","weather_icon"], axis=1, inplace=True)

In [107]:
weatherRaw

,dt,dt_iso,timezone,temp,pressure,humidity,wind_speed,clouds_all,weather_id,weather_main,weather_description
0,1514678400,2017-12-31 00:00:00,0,9.91,983,93,4.63,75,803,Clouds,broken clouds
1,1514682000,2017-12-31 01:00:00,0,11.09,983,82,13.38,75,803,Clouds,broken clouds
2,1514685600,2017-12-31 02:00:00,0,11.01,982,76,11.32,75,803,Clouds,broken clouds
3,1514689200,2017-12-31 03:00:00,0,9.99,983,62,14.92,75,803,Clouds,broken clouds
4,1514692800,2017-12-31 04:00:00,0,8.60,984,61,16.98,75,803,Clouds,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
8843,1546369200,2019-01-01 19:00:00,0,6.32,1040,86,2.10,75,803,Clouds,broken clouds
8844,1546372800,2019-01-01 20:00:00,0,6.06,1041,86,3.10,75,803,Clouds,broken clouds
8845,1546376400,2019-01-01 21:00:00,0,4.90,1040,86,2.60,75,803,Clouds,broken clouds
8846,1546380000,2019-01-01 22:00:00,0,4.21,1041,93,1.50,75,803,Clouds,broken clouds
8847,1546383600,2019-01-01 23:00:00,0,3.31,1041,86,1.50,75,803,Clouds,broken clouds

In [108]:
weatherRaw.to_csv("/Users/35383/Documents/GTFSAPItest/GTFSR/GTFSdata/clean_weather_2018.csv", index = False, header=None)